body {
    background-color: grey;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 32px;
}
h3 {
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.basic {
    display: block;
    position:absolute;
    width: calc(100% - 500px);
    min-height: 100%;
    left: 500px;
    top: 0;
    background-color: aqua;
}

.filter {
    display: block;
    position: absolute;
    width: 500px;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}

.filter_element {
    display: inline-block;
    font-size: 20px;
    width: 245px;
}

.filter_text_element {
    display: inline-block;
    font-size: 20px;
    margin: 15px 0;
    width: 50px;
    text-align: center;
}

.filter_input_element {
    display: inline-block;
    width: 165px;
    margin: 0;
}

.mainDiv {
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
}

.product {
    width: 100%;
    font-size: 36px; 
}

.product_position {
    border: 1px solid black;
    padding: 0;
}